img[data-action="zoom"]{
  cursor: pointer;
}

.zoom-img,
.zoom-img-wrap {
  position: relative;
  z-index: 666;
}

img.zoom-img {
  box-shadow: 0px 0px 5px 0px black;
  cursor: pointer;
}

.zoom-overlay {
  cursor: pointer;
  z-index: 120;
  background: #181818;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  pointer-events: none;
  opacity: 0;
  transition: opacity 300ms;
}

.zoom-overlay-open,
.zoom-overlay-transitioning {
  cursor: default;
}

.zoom-overlay-open .zoom-overlay {
  opacity: 1;
}
.zoom-overlay-open .zoom-overlay::after {
  position: absolute;
  font-size: 50px;
  top:5%;
  right: 10%;
  content: '\00D7';
  color:white;
  }

